<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      style="background-color: indigo">
    <mat-toolbar style="color: whitesmoke">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/republicas']" style="color: whitesmoke">Repúblicas</a>
      <a mat-list-item [routerLink]="['/republicas/moradores']" style="color: whitesmoke">Republica - Moradores</a>
      <a mat-list-item [routerLink]="['/republicas/disponiveis']" style="color: whitesmoke">Repúblicas Disponíveis</a>
      <a mat-list-item [routerLink]="['/morador']" style="color: whitesmoke">Morador</a>
      <a mat-list-item [routerLink]="['/republica/financas']" style="color: whitesmoke">Finanças da República</a>
      <a mat-list-item [routerLink]="['/morador/financas']" style="color: whitesmoke">Finanças Individuais</a>
      <a mat-list-item [routerLink]="['/feedback']" style="color: whitesmoke">Feedback</a>
      <a mat-list-item [routerLink]="['/moradores']" style="color: whitesmoke">Moradores</a>
      <a mat-list-item [routerLink]="['/tarefas']" style="color: whitesmoke">Tarefa</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gestão de Repúblicas</span>

      <span class="fill-remaining-space"></span>
      <mat-icon (click)="visualizarNotificacoes()"
          id="notifications"
          *ngIf="solicitacoes.length != 0 || feedbacks.length != 0"
          matBadge="{{totalNotificacoes()}}"
          matBadgeColor="warn">
          notifications
      </mat-icon>

      <form>
        <div>
          <mat-form-field>
            <mat-select placeholder="Morador" name="morador"
             (selectionChange)="onChange($event.value)">
              <mat-option  *ngFor="let m of moradores" [value]="m">
                {{m.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
