<button mat-raised-button color="primary" (click)="onAtualizar()">Atualizar</button>
<form (ngSubmit)="onSubmit()" [formGroup]="tarefaService.form">
  <div class="container">
    <input type="hidden" formControlName="$key" />
    <div>
      <mat-form-field>
        <input
          formControlName="descricao"
          matInput
          placeholder="Descrição"
          [(ngModel)]="tarefaDto.descricao"
          name="descricao"
        />
        <mat-error>Este campo é obrigatório.</mat-error>
      </mat-form-field>

      <div>
        <label>Moradores: </label>
        <section class="checkbox-section">
          <mat-checkbox
            #inputEl
            *ngFor="let morador of morador.republica.moradores"
            class="checkbox-margin"
            [value]="morador"
            (change)="onCheck(morador, inputEl.checked)"
          >
            {{ morador.nome }}
          </mat-checkbox>
        </section>
      </div>

      <mat-form-field>
        <input
          formControlName="dataAgendamento"
          matInput
          [matDatepicker]="picker"
          placeholder="Data de Lançamento"
          [(ngModel)]="tarefaDto.dataAgendamento"
          name="dataAgendamento"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input
          formControlName="dataTermino"
          matInput
          [matDatepicker]="picker2"
          placeholder="Data de Vencimento / Recebimento"
          [(ngModel)]="tarefaDto.dataTermino"
          name="dataTermino"
          disabled
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="tarefaService.form.invalid"
    >
      Cadastrar
    </button>
  </div>
</form>
